/* General */
body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.info-box{
    background-color: rgb(240,240,240);
}

/* Logo */
.logo {
    position: relative; 
}

.logo a {
    text-align: center;
    
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2569fa;
}

.logo h2 {
    font-size: 22px;
    margin: 0;
    position: absolute;
    top: 80%;
    
}
/* Navbar */
.navbar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    align-content: center;
    line-height: 10px;
    margin-bottom: 20px;
}
.navbar li ul {
    display: inline-block;
    text-decoration: none;
    list-style: none;
}
.navbar-nav {
    list-style: none;
    display: inline-block;
    gap: 20px;
}

.nav-item {
    position: relative; 
    text-decoration: none;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #2569fa;
}

.dropdown-menu {
    position: absolute; 
    top: 100%; 
    right: 0; 
}

/* Secondary Nav Bar */
.secondary-bar {
    background-color: darkgray;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.secondary-item{
    position: relative; 
    text-decoration: none;
    list-style: none; 
    height: 200%;
}

.secondary-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 25px;
}


.secondary-item a:hover{
    color: white;
    background-color: #2569fa;
}