/* General */
body {
    margin: 0;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.info-box{
    background-color: rgb(240,240,240);
}


/* Home Page */
