{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}
{% block content %}

    <div class="mx-auto">
        <br />
        <h1 class="page-title text-center">Reset Password</h1>
        <br />
        <p class="text-center">Please enter your email address.</p>
        <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto info-box">
            <br />
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Reset my password">
                
            </form>
            <br />
        </div>
    </div>

{% endblock content %}