{% load static %}
<div class="main-nav">
    <div class="navbar">
        <header>
            <div class="logo">
                <a href="{% url 'shop:all_products' %}">
                    <h1>Home Haven</h1>
                    <h2>Embrace your space.</h2>
                </a>
            </div>
        </header>
        <ul class="navbar">
            {% if user and user.is_authenticated %}
            <li class="nav-item">
                Welcome, <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">{{ user.username }} 
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'profile_view' user.profile.pk %}" class="dropdown-item">Profile</a>
                </div>                

            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Sign Out <ion-icon name="exit-outline"></ion-icon></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">Sign Up <ion-icon name="person-outline"></ion-icon></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Sign In <ion-icon name="enter-outline"></ion-icon></a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
