{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
Edit your profile.
{% endblock %}
{% block title %}
Edit Profile - Home Decoration Store
{% endblock %}
{% block content %}
{% if request.user == profile.user %}
<h2 class="text-center mt-4">Edit Your Profile</h2>
<form method="post">
    <div class="mb-3">
        <label for="id_first_name" class="form-label">First Name</label>
        <input type="text" name="first_name" class="form-control" value="{{ profile.user.first_name }}">
    </div>
    <div class="mb-3">
        <label for="id_last_name" class="form-label">Last Name</label>
        <input type="text" name="last_name" class="form-control" value="{{ profile.user.last_name }}">
    </div>
    <div class="mb-3">
        <label for="id_dob" class="form-label">Date of Birth</label>
        <input type="date" name="dob" class="form-control" value="{{ profile.user.dob }}">
    </div>

    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">
        Save Changes
    </button>
</form>
{% endif %}